.flight-status-card {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 90px 20px 20px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 11%);
  margin-bottom: 20px;

  @media (min-width: 1024px) {
    padding: 30px;
  }

  .status-tag {
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: #15700e;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    right: -10px;
    padding: 12px 30px;

    &::after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 0;
      border-color: #a9a9a9 transparent transparent transparent;
      position: absolute;
      right: 0;
      bottom: -10px;
    }

    &.arrived, &.inflight {
      background-color: #15700e;
    }
    &.predeparture {
      background-color: #0040ff;
    }
    &.notAvailable {
      background-color: #FFBF00;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.7;
    @media (max-width: 1023px) {
      line-height: unset;
    }

    .row-item-left {
      text-align: left;
    }
    .row-item-right {
      text-align: right;
    }
    .airport {
      font-size: 20px;
      line-height: 40px;
      font-weight: bold;

      @media (max-width: 1023px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    &.time-date {
      text-align: inherit;
      @media (max-width: 1023px) {
        margin: 10px 0;
      }
      .state {
        line-height: 15px;
        text-align: inherit;
      }
      .time {
        font-size: 40px;
        line-height: 48px;
        font-weight: bold;

        @media (max-width: 1023px) {
          font-size: 30px;
          line-height: 30px;
        }
      }
      .date {
        line-height: 17px;
      }
    }

    .flight-progress__container {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: flex-start;
      justify-content: center;
      height: 48px;
      margin-top: 15px;

      @media (max-width: 1023px) {
        position: absolute;
        top: 110px;
        left: 0;
        width: 100%;
      }

      .flight-progress {
        padding-left: 60px;
        padding-right: 60px;

        @media (max-width: 1023px) {
          padding-left: 20px;
          padding-right: 20px;
        }

        .progress-bar {
          position: relative;
          height: 2px;
          background-color: hsla(0, 0%, 66%, 0.5);

          .progress-point {
            position: absolute;
            width: 10px;
            height: 10px;

            &.start {
              left: -3px;
              top: -4px;
              background-color: #a9a9a9;
              border-radius: 50%;  
            }

            &.end {
              right: -3px;
              top: -4px;
              background-color: #a9a9a9;
              border-radius: 50%;
            }

            &.inflight {
              background-color: #15700e !important;
            }

            &.plane {
              width: 30px;
              height: 30px;
              top: -14px;
              left: 0;
              margin-left: -18px;
              z-index: 1;
              svg {
                width: 100%;
                height: 100%;
                fill: #15700e;
              }
            }
            &.status-bar {
              background-color: #15700e;
              height: 2px;
              //width: 50%;
            }
          }
        }
        &.notDeparted{
          .progress-point.plane {
            margin-left: -14px;
          }
        }
      }
    }
  }
  .card-content {
    &__container {
      display: flex;

      @media (max-width: 1023px) {
        flex-direction: column-reverse;
      }

      .card-content {
        display: flex;
        flex-direction: column;

        @media (min-width: 1024px) {
          width: 75%;
          padding-right: 30px;
        }
      }

      .seperator {
        display: block;
        width: 1px;
        background-image: linear-gradient(0deg, #d8d8d8 60%, transparent 0);
        background-repeat: repeat-y;
        background-size: 1px 10px;
      }

      .flight-number {
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 60px;

        @media (min-width: 1024px) {
          width: 25%;
          margin-bottom: 0;
          font-size: 20px;
        }

        img {
          width: 31px;
          height: 26px;
        }
        .text {
          padding-left: 10px;

          @media (min-width: 1024px) {
            padding-left: 15px;
          }
        }
      }
    }
  }
}
